admin-tools-x86_64.AppImage
build/
squashfs-root/
__pycache__
Makefile
configure
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
depcomp
install-sh
ltmain.sh
missing
py-compile
Makefile.in
conf*/
test-driver
ylwrap
src/wfm
src/ycp-ui
